<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>日記を入力</title>
</head>
<body>
    <h1>日記を入力</h1>
	<form th:action="@{/diary/top}" method="post" th:object="${diaryEntry}">
	    日付: <input type="date" th:field="*{date}"><br><br>
	    誰と: <input type="text" th:field="*{whoWith}"><br><br>
	    どこで: <input type="text" th:field="*{location}"><br><br>
	    何をしたか: <input type="text" th:field="*{activity}"><br><br>
	    <button type="submit">保存</button>
		<div th:if="${errorMessage}" style="color: red; margin-top: 10px;">
		        <p th:text="${errorMessage}"></p>
		</div>
	</form>
	<a href="/diary/top">
	  <button type="button" style="background-color: #007bff; color: white; border: none; padding: 8px 16px; border-radius: 4px;">
	    カレンダーへ
	  </button>
	</a>


    <!-- 保存ボタンの外に出すと、送信後にもきれいに表示できる -->
</body>
</html>
